@import "variables";

:host {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.content-container {
  height: 100%;
  width: 100%;
}

.main-content {
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: $main-sidebar-width;
}

.divider {
  border: none;
  height: 48px;
}

.sidenav {
  min-width: $main-sidebar-width;
  background-color: $blue;

  &:not(.sidenav--expanded) {
    box-shadow: none;
    border-right: 1px solid #cccccc;
  }

  &__item {
    height: 35px;
    color: white;
    fill: white;
    margin-left: 0;
    background-color: $blue;
    border-left: 3px solid $blue;

    &:hover {
      background-color: $turquoise;
      color: white;
      fill: white;
    }

    &--active {
      background-color: $blue;
      border-left: 3px solid white;
      color: white;

      fa-icon {
        color: white;
      }
    }

    &-icon {
      display: flex;
      align-content: center;
    }

    &-name {
      padding-left: 1em;
      font-size: 18px;
    }
  }
}

.external-link-indicator {
  font-size: 14px;
}
